@font-face {
  font-family: "RethinkSans-Bold";
  src: url(/assets/fonts/RethinkSans-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "RethinkSans-Regular";
  src: url(/assets/fonts/RethinkSans-Regular.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "RethinkSans-Medium";
  src: url(/assets/fonts/RethinkSans-Medium.ttf);
  font-weight: 800;
}
