$font-family-bold: "RethinkSans-Bold";
$font-family-regular: "RethinkSans-Regular";
$font-family-medium: "RethinkSans-Medium";

$weight-regular: 600;
$weight-medium: 700;
$weight-bold: 800;

$color-blue: rgba(10, 80, 122, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(43, 42, 41, 1);
